<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/films.css">
</head>
<body style="margin-left: 0;">
    <div id="nav-top" class="navbar navbar-expand-sm justify-content-center bg-info">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="../templates/info.html" class="nav-link">Информация</a></li>
            <li class="nav-item"><a href="../templates/films.html" class="nav-link active">Фильмы</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Чича Аматаякул</h1>
                <ul>
                    <li>Дата рождения: 5 августа 1993г.</li>
                    <li>Полных лет: 31</li>
                    <li>В скольких фильмах снялась: 8</li>
                    <li>Жанры фильмов: Антология
                        Триллер
                        Мистика
                        Ужасы
                        Фэнтези
                        Подростковая драма
                        Криминальная драма</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="../img/avatars/1.jpg" style="width: 100%;">
            </div>
        </div>
    </div>
    <h1>Лучшие фильмы</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/girl_from_nowhere.webp">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Девушка из ниоткуда</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/serpent.webp">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Змей</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/Necromancer.webp">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Некромант 2020</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/die_online.webp">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Смерть онлайн</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/flower_ring.webp">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Цветочное кольцо</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/blank.svg">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Scholar</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/blank.svg">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Morrison</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../img/posters/blank.svg">
                    <div class="card-header">
                        <div class="card-text" style="text-align: center;">Creatures of the Red</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Интересные факты</h1>
    <div class="container-fluid">
        <div class="row facts">
            <div class="col-md-6 col-lg-3">Прозвище «Китти» досталось ей от отца, который был в Японии, когда она родилась. Он искал подарок для неё и заметил игрушку под названием «Хелло Китти», которая была популярна в то время. Из-за этого он подумал, что это хорошее имя для девочки.</div>
            <div class="col-md-6 col-lg-3 d-phone-none">В 17 лет она была участницей тайской женской группы «Kiss Me Five» под лейблом Kamikaze records. Позже, через год, она ушла из группы из-за учёбы. Перед уходом она приняла участие в создании их популярных песен «Morning kiss», «Sensitive» и «Thinking».</div>
            <div class="col-md-6 col-lg-3 d-phone-none">Она изучала бизнес-администрирование в Успенском университете, но позже сменила специальность на изучение права в Университете Рамхамхаенг.</div>
            <div class="col-md-6 col-lg-3">У неё есть две домашние кошки по имени Монстр и Кошмар.</div>
        </div>
    </div>
    <h1>Фильмография</h1>
    <table class="container-fluid">
        <tr class="row">
            <th class="col-2">Год</th>
            <th class="col-4">Русское название</th>
            <th class="col-4">Оригинальное название</th>
            <th class="col-2">Роль</th>
        </tr>
        <tr class="row">
            <td class="col-2">2017</td>
            <td class="col-4">Цветочное кольцо</td>
            <td class="col-4">Waen Dok Mai</td>
            <td class="col-2">Oum</td>
        </tr>
        <tr class="row">
            <td class="col-2"></td>
            <td class="col-4">Смерть онлайн</td>
            <td class="col-4">Net I Die</td>
            <td class="col-2">Monica</td>
        </tr>
        <tr class="row">
            <td class="col-2">2018</td>
            <td class="col-4">Девушка из ниоткуда</td>
            <td class="col-4">Girl from nowhere</td>
            <td class="col-2">Nanno</td>
        </tr>
        <tr class="row">
            <td class="col-2">2019</td>
            <td class="col-4">Некромант 2020</td>
            <td class="col-4">Necromancer 2020</td>
            <td class="col-2">Lieutenant Toon</td>
        </tr>
        <tr class="row">
            <td class="col-2">2021</td>
            <td class="col-4">Змей</td>
            <td class="col-4">The Serpent</td>
            <td class="col-2">Suda Romyen</td>
        </tr>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>