<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/table.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <div class="header">
        <a href="index.html">Основная страница</a>
        <a href="page2.html">Позиционирование элементов</a>
        <a href="table.html">Таблица</a>
    </div>
    
    <div class="table_wrapper">
        
        <table>
            <caption>Сведения о студентах</caption>
            <tr style="background-color: rgb(196, 179, 121);">
                <th>id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Номер зачётки</th>
                <th>Номер группы</th>
                <th>Пол</th>
                <th>Возраст</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Синицын</td>
                <td>Евгений</td>
                <td>Андреевич</td>
                <td>01766</td>
                <td>6203-020302D</td>
                <td>Муж</td>
                <td>19</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Иванов</td>
                <td>Иван</td>
                <td>Иванович</td>
                <td>01767</td>
                <td>6203-020302D</td>
                <td>Муж</td>
                <td>19</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Васильев</td>
                <td>Вася</td>
                <td>Васильевич</td>
                <td>01768</td>
                <td>6203-020302D</td>
                <td>Муж</td>
                <td>18</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Данилов</td>
                <td>Данил</td>
                <td>Данилович</td>
                <td>01769</td>
                <td>6203-020302D</td>
                <td>Муж</td>
                <td>19</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Блинова</td>
                <td>Елизавета</td>
                <td>Дмитриевна</td>
                <td>01770</td>
                <td>6203-020302D</td>
                <td>Жен</td>
                <td>18</td>
            </tr>
        </table>
    </div>
    
</body>
</html>